$info-color: #3ebfea;
$secondary-color: #748892;
$default-color: #d6d6d6;
$light-color: #f2f2f2;
$dark-color: #37474f;
$mute-color: #6c757d;
$warning-color: #f4c22b;
$danger-color: #dd072f;
$success-color: #1de9b6;
$primary-color: #ff9c00;